---
import cameras from '~/lib/cameras';

/* Layouts */
import Layout from '~/layouts/Layout.astro';

/* Components */
import Header from '~/components/Header.astro';
import Nav from '~/components/Nav.astro';
import SubHeading from '~/components/SubHeading.astro';
import Camera from '~/components/Camera.astro';
import Footer from '~/components/Footer.astro';

/* Assets */
import subheading from '~/assets/cameras.svg';
---

<Layout title='Cameras | Teemu Kakko Film Photo Showcase'>
  <!-- Header -->
  <header>
    <Header />
  </header>

  <!-- Navigation -->
  <Nav />

  <main>
    <section>
      <!-- Sub-heading -->
      <SubHeading src={subheading.src} alt='Cameras' />

      <!-- Description -->
      <p class='mx-auto my-xl w-11/12 max-w-lg text-center font-montserrat text-sm md:text-base'>
        I started shooting on film in 2020. I use both 35 mm and medium format film, as well as
        instant film.
      </p>

      <p class='mx-auto my-xl w-11/12 max-w-lg text-center font-montserrat text-sm md:text-base'>
        I develop and print my black-and-white photographs myself.
      </p>

      <!-- Cameras -->
      <div class='mx-auto w-full max-w-5xl'>
        {cameras.map((camera, i) => <Camera index={i} camera={camera} />)}
      </div>
    </section>
  </main>

  <!-- Footer -->
  <footer>
    <Footer />
  </footer>
</Layout>
