---
/* Layouts */
import Layout from '~/layouts/Layout.astro';

/* Components */
import Nav from '~/components/Nav.astro';
import Header from '~/components/Header.astro';
import Footer from '~/components/Footer.astro';
---

<Layout title='Teemu Kakko Film Photo Showcase | Cameras'>
  <section>
    <Header />
    <Nav />
    <p>Cameras</p>
    <Footer />
  </section>
</Layout>
