---
/* Layouts */
import Layout from '~/layouts/Layout.astro';

/* Components */
import Header from '~/components/Header.astro';
import Nav from '~/components/Nav.astro';
import SubHeading from '~/components/SubHeading.astro';
import Footer from '~/components/Footer.astro';

/* Assets */
import subheading from '~/assets/cameras.svg';
---

<Layout title='Cameras | Teemu Kakko Film Photo Showcase'>
  <!-- Header -->
  <header>
    <Header />
  </header>

  <!-- Navigation -->
  <Nav />

  <main>
    <section>
      <!-- Sub-heading -->
      <SubHeading src={subheading.src} alt='Cameras' />
    </section>
  </main>

  <!-- Footer -->
  <footer>
    <Footer />
  </footer>
</Layout>
