---
import fetchFlickrData from '~/lib/fetchFlickrData';

/* Layouts */
import Layout from '~/layouts/Layout.astro';

/* Components */
import Header from '~/components/Header.astro';
import Nav from '~/components/Nav.astro';
import SubHeading from '~/components/SubHeading.astro';
import Images from '~/components/Images';
import Footer from '~/components/Footer.astro';

/* Assets */
import subheading from '~/assets/img/photos.svg';

const formattedData = await fetchFlickrData();
---

<Layout title='Teemu Kakko Film Photo Showcase'>
  <main>
    <!-- Header -->
    <Header />

    <!-- Navigation -->
    <Nav />

    <!-- Sub-heading -->
    <SubHeading src={subheading.src} alt='Photos' />

    <!-- Images -->
    <Images client:load data={formattedData} />

    <!-- Footer -->
    <Footer />
  </main>
</Layout>
