---
import fetchFlickrData from '~/lib/fetchFlickrData';

/* Layouts */
import Layout from '~/layouts/Layout.astro';

/* Components */
import Header from '~/components/Header.astro';
import Nav from '~/components/Nav.astro';
import Featured from '~/components/Featured.astro';
import Images from '~/components/Images';
import Footer from '~/components/Footer.astro';

const formattedData = await fetchFlickrData();
---

<Layout title='Teemu Kakko Film Photo Showcase'>
  <main>
    <Header />
    <Nav />
    <Featured />
    <Images data={formattedData} />
    <Footer />
  </main>
</Layout>
