---
const { title } = Astro.props;
---

<meta charset='utf-8' />
<meta http-equiv='X-UA-Compatible' content='IE=edge' />
<meta name='viewport' content='width=device-width, initial-scale=1' />
<meta name='robots' content='noindex, nofollow' />
<meta name='theme-color' content='#001E1E' />
<meta name='generator' content={Astro.generator} />

<title>{title}</title>

<meta name='description' content='Showcase of my film photos.' />
<meta name='author' content='Teemu Kakko' />
<meta name='keywords' content='film, photography, flickr, showcase' />

<meta property='og:url' content='https://kakkoteemu.fi/film' />
<meta property='og:type' content='website' />
<meta property='og:image' content='/film/share.png' />
<meta property='og:description' content='Showcase of my film photos.' />
<meta property='og:title' content='Teemu Kakko Film Photo Showcase' />

<link rel='apple-touch-icon' sizes='180x180' href='/film/apple-touch-icon.png' />
<link rel='icon' type='image/png' sizes='32x32' href='/film/favicon-32x32.png' />
<link rel='icon' type='image/png' sizes='16x16' href='/film/favicon-16x16.png' />
<link rel='manifest' href='/film/site.webmanifest' />
