---
const today = new Date();
const year = today.getFullYear();
---

<div class='mx-auto my-10 w-11/12'>
  <p class='text-center font-montserrat text-xs font-thin text-neutral-300'>
    <a href='https://kakkoteemu.fi/' target='_blank' rel='noopener noreferrer'>
      &copy; {year}
    </a>
  </p>
</div>
