---
import header from '~/assets/header1b.svg';
---

<div class='mt-2xl md:mb-2xl md:mt-3xl relative mb-xl w-full'>
  <div class='mx-auto w-10/12 max-w-xl'>
    <div class='h-0 w-full pb-[20.370213%]'>
      <h1>
        <img class='block w-full' src={header.src} alt='Teemu Kakko Film Photo Showcase' />
      </h1>
    </div>
  </div>
</div>
