---
import { Image } from 'astro:assets';
import header from '../assets/img/header1b.svg';
---

<div class='w-full'>
  <div class='mx-auto mb-8 mt-10 w-10/12 max-w-xl md:mb-14 md:mt-20'>
    <div class='h-0 w-full pb-[20.370213%]'>
      <h1>
        <Image class='block w-full' src={header} alt='Teemu Kakko Film Photo Showcase' />
      </h1>
    </div>
  </div>
</div>
