---
import header from '~/assets/img/header1b.svg';
---

<div class='w-full bg-neutral-100'>
  <div class='mx-auto w-10/12 max-w-xl pb-8 pt-10 md:pb-14 md:pt-20'>
    <div class='h-0 w-full pb-[20.370213%]'>
      <h1>
        <img class='block w-full' src={header.src} alt='Teemu Kakko Film Photo Showcase' />
      </h1>
    </div>
  </div>
</div>
