---

---

<nav class='sticky top-0 w-full bg-neutral-100'>
  <ul class='flex items-center justify-center gap-x-12 py-5'>
    <li><a class='border-b border-black' href='/film'>Photos</a></li>
    <li><a class='border-b border-black' href='/film/cameras'>Cameras</a></li>
  </ul>
</nav>
