---

---

<nav class='sticky top-0 z-50 w-full bg-neutral-100'>
  <ul class='gap-x-xl md:py-md py-sm flex items-center justify-center'>
    <li><a class='border-b border-black' href='/film'>Photos</a></li>
    <li><a class='border-b border-black' href='/film/cameras'>Cameras</a></li>
  </ul>
</nav>
