---

---

<nav class='sticky -top-px z-50 w-full bg-neutral-100'>
  <ul class='py-base flex items-center justify-center gap-x-xl md:py-lg'>
    <li><a class='border-b border-black' href='/film'>Photos</a></li>
    <li><a class='border-b border-black' href='/film/cameras'>Cameras</a></li>
  </ul>
</nav>
