---

---

<nav class='sticky top-0 w-full'>
  <ul class='flex h-[50px] items-center justify-center gap-x-4'>
    <li><a class='underline' href='/film'>Photos</a></li>
    <li><a class='underline' href='/film/cameras'>Cameras</a></li>
  </ul>
</nav>
