---
type Props = {
  src: string;
  alt: string;
};

const { src, alt } = Astro.props;
---

<div class='relative mb-xl mt-xl w-full md:mt-2xl'>
  <div class='relative mx-auto h-9 w-10/12 sm:h-12'>
    <h2 class='absolute left-1/2 top-1/2 h-full -translate-x-1/2 -translate-y-1/2'>
      <img class='block h-full' src={src} alt={alt} />
    </h2>
  </div>
</div>
