---
import { ViewTransitions } from 'astro:transitions';
import '@fontsource-variable/montserrat';
import '~/styles.css';

/* Components */
import BaseHead from '~/components/BaseHead.astro';

type Props = {
  title: string;
};

const { title } = Astro.props;
---

<!doctype html>
<html lang='en'>
  <head>
    <ViewTransitions fallback='none' />
    <BaseHead title={title} />
  </head>
  <body>
    <slot />
  </body>
</html>
